.layout{
          display: flex;
          z-index: 2000;
          align-items: center;
          height: 60px;
          padding: 0 10px 0 10px;
          border-bottom: 1px solid #b6b5b5;
          justify-content: space-between;
     
}

.layout button{
          cursor: pointer;
          font-size: 15px;
          border: none;
          background-color: transparent;
          border: 1px solid black;
          border-radius: 5px;
          width: 90px;
          font-weight: 900;
          padding: 8px;
          transition: background ease-in-out .1s;
          
}

.layout button:hover{
 background-color: black;
 color: white;
}